{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="start-page">Back</a>

      <h1 class="heading-large">
        Can you juggle more than 2 balls?
      </h1>

        <form>
          <div class="form-group">
            <h3 class="heading-medium">Which colour balls do you juggle regularly?</h3>
<p>Select all that apply</p>

  <fieldset>

    <legend class="visually-hidden">Which types of waste do you transport regularly?</legend>

    <label class="block-label selection-button-checkbox" for="waste-type-1">
      <input id="waste-type-1" name="waste-types" type="checkbox" value="waste-animal">
      Green
    </label>
    <label class="block-label selection-button-checkbox" for="waste-type-2">
      <input id="waste-type-2" name="waste-types" type="checkbox" value="waste-mines">
      Blue
    </label>
    <label class="block-label selection-button-checkbox" for="waste-type-3">
      <input id="waste-type-3" name="waste-types" type="checkbox" value="waste-farm-agricultural">
      Orange
    </label>

  </fieldset></div>
            <fieldset><div class="form-group">
              <h1 class="heading-medium">
                How do you want to be contacted?
              </h1>
              <legend class="visually-hidden">How do you want to be contacted?</legend>

              <label class="block-label selection-button-radio" data-target="contact-by-email" for="example-contact-by-email">
                <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
                Email
              </label>
              <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
                <label class="form-label" for="contact-email">Email address</label>
                <input class="form-control" name="contact-email" type="text" id="contact-email">
              </div>

              <label class="block-label selection-button-radio" data-target="contact-by-phone" for="example-contact-by-phone">
                <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
                Phone
              </label>
              <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
                <label class="form-label" for="contact-phone">Phone number</label>
                <input class="form-control" name="contact-phone" type="text" id="contact-phone">
              </div>

              <label class="block-label selection-button-radio" data-target="contact-by-text" for="example-contact-by-text">
                <input id="example-contact-by-text" type="radio" name="radio-contact-group" value="No">
                Text message
              </label>
              <div class="panel panel-border-narrow js-hidden" id="contact-by-text">
                <label class="form-label" for="contact-text-message">Mobile phone number</label>
                <input class="form-control" name="contact-text-message" type="text" id="contact-text-message">
              </div>

            </fieldset>
          </div>
        </form>

    </div>
  </div>
</main>

{% endblock %}
